<div class="container">

<p>Your word: <%= @user_word %></p>
<p>Time Taken to answer:  <%= @result[:time]%></p>
<p>Your score: <%= @result[:score] %></p>
<p>message: <%= @result[:message] %></p>
</div>
